<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bootstrap v5</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <%- style %>
</head>
<body class="d-flex flex-column sticky-footer-wrapper">
<!-- Fixed navbar -->
<%- include("partials/_navbar.ejs") %>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <!-- Header  -->
    <%- include("partials/_showcase.ejs") %>

    <div class="container mt-5">
        <%- body %>

    </div>
</main>

<!-- Begin footer -->
<%- include("partials/_footer.ejs") %>
<script src="/js/bootstrap.min.js"></script>
<%- script ? script : "" %>

</body>
</html>
